table, tr, td, th {
    border: 1px, solid, black
}
table{
    border-collapse: collapse
}
td, th {
    padding=16px
    border-radius: 12px;
}

tr{
    background-color: beige;
}
tr:nth-child(2){
    background-color: brown;
}
tr:nth-child{

}
th{
    background-color: yellow;
}
caption{
    padding-bottom: 16px;
    
}